.recipe {
  border: 1px solid #ed714d;
  padding: 10px;
  width: 300px;
  border-radius: 18px;
  text-align: center;
  transition: all 0.25s;
  box-shadow: -1px 15px 30px -12px rgb(250, 171, 132);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  background-color: white;
}

.recipe img {
  width: 300px;
  object-fit: cover;
}
