.recipe {
  width: 350px;
  border-radius: 18px;
  text-align: center;
  transition: all 0.25s;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.divInfo{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.recipe img {
  width: 350px;
  object-fit: cover;
}

.divInfo h5{
  margin-bottom: 0;
  
}

.origin, .healthScore{
  align-self: start;
  margin-top: 0;
}

.origin {
  color: #9e9797;
}

.healthScore{
  margin-top: 1rem;
  color: #0eb6c2;
}

.name {
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
}

.divInfo a {
  text-decoration: none;
}

.divDiets {
  display: flex;
  flex-direction: row;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  flex-wrap: wrap;
}

.spanDiet {
  border-radius: 1rem;
  background-color: #f9d1b2;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin: 0.3rem;
  font-size: small;
}